	/* Fonts */

@font-face {
	font-family: roboto-light;
	src: url(../fonts/RobotoCondensed-Light.ttf);
}
@font-face {
	font-family: roboto-regular;
	src: url(../fonts/RobotoCondensed-Regular.ttf);
}


/* Global Styles */


body {
	margin: 0;
	
	text-align: center;
	font-family: roboto-light;
	color: #fff;
}
h1, h2, h3, span, p {
	margin: 0;
	font-weight: normal;
}
a {
	text-decoration: none;
}
.align {
	width: 90%;
	margin: auto;
	overflow: hidden;
}
.fullscrn {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
	background-attachment: fixed;
	border-bottom: solid 1px #c5c5c5;
}
.light {
	background-color: #00000099;
}
.dark {
	background: #0000009c;
}


/* Main Header Styles */

.main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 80px;
	z-index: 10;

	background: #000000c7;
}

/* Header */

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	z-index: 10;
	background: #000000c7;
}

.logo {
	display: block;
	float: left;
}
.main-header-logo {
	float: left;
	height: 40px;
	padding: 20px 0;
}

.main-header-nav {
	float: right;
	height: 80px;
}
.main-header-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-header-nav ul li {
	float: left;
}
.main-header-nav ul li a {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	margin: 10px 0;
	padding: 0 10px;
	color: #fff;
}
.main-header-nav ul li a:hover {
	transition: all 200ms ease-in;
	color: #87c5fb;
}
.main-header-burger-menu {
  float: right;
  height: 60px;
  line-height: 68px;
  margin: 10px 0;
  cursor: pointer;
}

/* Menu Mobile Styles  */

.menuModal {
    position: fixed;
    display: none;
    width: 50%;
    height: 100vh;
    top: 0;
    right: 0;
    padding-right: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    z-index: 30;

	background: #000000eb;
	border-left: solid 1px #fff;
}
.main-header-nav-mobile ul li {
	border-bottom: solid 1px #fff;
}
.main-header-nav-mobile ul {
	list-style-type: none;
	padding: 0;
}
.main-header-nav-mobile li {
	line-height: 10vh;
	text-align: left;
}
.main-header-nav-mobile li a{
	color: #fff;
}
.mobile-menu {
	margin-bottom: 30px;
}

/* Contact Modal Styles */

.modal-contact {
	position: fixed;
	z-index: 40;

	background: #000000d6;
}
.modal-contact-form-align {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.modal-contact-form-container {
	width: 30%;
	padding: 2%;
	box-sizing: border-box;
	overflow: hidden;
	min-width: 300px;

	background: #000000c2;
	border: solid 1px #fff;
}
.modal-contact-tittle {}
.modal-contact-form {
	width: 100%;
	height: 85%;
	margin-top: 4%;
}
.modal-contact-element {
	display: block;
	width: 80%;
	height: 40px;
	margin: auto;
	margin-bottom: 20px;
	padding-left: 2%;
	box-sizing: border-box;

	font-family: roboto-light;
	font-size: 16px;

	background: none;
	border: solid 1px #fff;
	color: #fff;
}
.modal-contact-element::placeholder {
	color: #fff;
}
.textarea-element {
	height: 80px;
}
.button-element {
	padding: 0;

	cursor: pointer;
	transition: all 300ms ease-in;
}
.button-element:hover {
	background: #87c5fb;
	transition: all 300ms ease-in;
}
#closeModalButton {
	width: 40%;
}


/* Landings bg */

#pre_home_secure {
	background-image: url(../media/landings/secure-landing.jpg);
	background-size: 100% 100vh;
}
#pre_home_parental {
	background-image: url(../media/landings/parental-control-landing.jpg);
	background-size: 100% 100vh;
}
#pre_home_remote {
	background-image: url(../media/landings/remote-asistence-landing.jpg);
	background-size: 100% 100vh;
}
#pre_home_repair {
	background-image: url(../media/landings/pc-repair-landing.jpg);
	background-size: 100% 100vh;
}
#pre_home_web {
	background-image: url(../media/landings/web-creation-landing.jpg);
	background-size: 100% 100vh;
}


/* Main Page Section Styles */


#pre_home {
	background-image: url(../media/landing-bg.jpg);
	background-size: 100% 100vh;
}
.first-tittle {
	font-size: 4rem;
}
.second-tittle {
	font-size: 4rem;
}
.last-tittle {
	font-size: 3.3rem;
}
.home-section-button {
	margin-top: 2%;
}
.home-section-button button {
	width: 50%;
    height: 7vh;
    
    font-family: roboto-light;
    font-size: 1.3rem;
    cursor: pointer;

    color: #fff;
    border: solid 2px #fff;
    background: none;
    background: #000000ad;
    transition: all 200ms ease-in;
}
.home-section-button button:hover {
	color: #87c5fb;
    transition: all 200ms ease-in;
}
.landing-contact-icons {
	margin-top: 4%;
	margin-bottom: 50px;
}
.landing-contact-icons .fa {
	margin-right: 2%;
	margin-left: 2%;

	font-size: 3rem;

	color: #f44601;
	transition: all 200ms ease-in;
}
.landing-contact-icons .fa:hover {
    color: #87c5fb;
	transition: all 200ms ease-in;
	transform: scale(1.2);
}
.landing-background {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: inline-block;
	z-index: -1;
}
#pre_services {
	background-image: linear-gradient(#252525, #000000);
}
.service-global-container {
	margin-bottom: 4%;
}
.section-tittle-container {
	margin-top: 50px;
}
.section-tittle {}
.service-section-content {
	margin-top: 4%;
}
.service-global-container {
	display: inline-block;

	text-align: center;
}
.service-container {
	display: inline-block;
	height: 25vh;
	width: 100%;
	overflow: hidden;

	border: solid 2px #fff;
}
.selected-service {
	border-color: #00a1ff;
}
.service-container-tittle {
	margin-bottom: 5%;

	font-size: 1.1rem;
}
.service-container-img-container {}
.service-container-img {
	width: 100%;
	height: 25vh;

	transition: all 300ms ease-in;
	transform: scale(1);

	cursor: pointer;
}
.service-container-img:hover {
	transition: all 300ms ease-in;
	transform: scale(1.25);
}
.service-container-space {
	margin-right: 5%;
	margin-left: 5%;
}
#final-service {
	margin-bottom: 40px;
}
#pre_us {
	background-image: url(../media/us-bg.jpg);
	background-size: 100% 100vh;
}
.us-section-content-align {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin-top: 50px;
}
.justify {
	height: fit-content;
}
.us-section-content {
	width: 70%;
	margin: auto;
	margin-top: 4%;

	text-align: justify;
}
#pre_mision {
	background-image: url(../media/mision.jpg);
	background-size: 100% 100vh;
}
#pre_vision {
	background-image: url(../media/vision.jpg);
	background-size: 100% 100vh;
}


/* Footer Styles */


.main-footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	height: fit-content;

	background: #131313;
}
.footer-logo {
	display: inline-block;
}
.social-networks-container {
	margin-top: 1%;
}
.social-networks-container .fa {
	margin-left: .5%;
	margin-right: .5%;

	font-size: 2.5rem;

	color: #fff;
	transition: all 300ms ease-in;
}
.social-networks-container .fa:hover {
	color: #87c5fb;
	transition: all 300ms ease-in;
}
.footer-copyright-container {
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0;
	padding: .5%;
	box-sizing: border-box;

	background: #000;
}


/* Return Top Button */


a.fa.scroll-up {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    bottom: 50px;
    right: 50px;
    box-sizing: border-box;
    z-index: 20;
    
    font-size: 24px !important;
    line-height: 37px !important;
    text-align: center;
    text-decoration: none;

    opacity: 0.85;
    border-radius: 5px;
    color: #000;
    background: #fff;
    transition: all 200ms ease-in;
}
a.fa.scroll-up:hover {
	background: #87c5fb;
    transition: all 200ms ease-in;
}