	/* Fonts */

@font-face {
	font-family: roboto-light;
	src: url(../fonts/RobotoCondensed-Light.ttf);
}
@font-face {
	font-family: roboto-regular;
	src: url(../fonts/RobotoCondensed-Regular.ttf);
}


/* Global Styles */


body {
	margin: 0;
	
	text-align: center;
	font-family: roboto-light;
	color: #fff;
}
h1, h2, h3, span, p {
	margin: 0;
	font-weight: normal;
}
a {
	text-decoration: none;
}
.align {
	width: 90%;
	margin: auto;
	overflow: hidden;
}
.fullscrn {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	box-sizing: border-box;

	border-bottom: solid 1px #c5c5c5;
}
.light {
	background: #00000099;
}
.dark {
	background: #0000009c;
}


/* Main Header Styles */

.main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 8vh;
	z-index: 10;

	background: #000000c7;
}
.main-header-logo-container {
	display: flex;
	float: left;
	height: 8vh;
	min-width: 300px;
	align-items: center;
}
.main-header-logo {
	margin-right: 4%;
	height: 6vh;
}
.main-header-logo-tittle-container {
	display: flex;
	height: 40px;
}
.main-header-logo-tittle {
	display: inline-block;
	font-size: 1.8rem;
}
.logo-orange {
	color: orange;
}
.logo-blue {
	margin-left: .3%;

	color: blue;
}
.main-header-nav-container {
	display: flex;
	float: right;
	height: 8vh;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	min-width: 600px;
}
.main-header-nav {
	display: inline-flex;
	width: 100%;
	font-size: 1.4rem;
}
.main-header-nav a {
	margin-left: 3%;
	margin-right: 3%;

	transition: all 200ms ease-in;
	color: #fff;
}
.main-header-nav a:hover {
	transition: all 200ms ease-in;
	color: #87c5fb;
}


/* Contact Modal Styles */

.modal-contact {
	position: fixed;
	z-index: 20;

	background: #000000d6;
}
.modal-contact-form-align {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.modal-contact-form-container {
	width: 30%;
	padding: 2%;
	box-sizing: border-box;
	overflow: hidden;
	min-width: 500px;

	background: #000000c2;
	border: solid 1px #fff;
}
.modal-contact-tittle {}
.modal-contact-form {
	width: 100%;
	height: 85%;
	margin-top: 4%;
}
.modal-contact-element {
	display: block;
	width: 80%;
	height: 40px;
	margin: auto;
	margin-bottom: 20px;
	padding-left: 2%;
	box-sizing: border-box;

	font-family: roboto-light;
	font-size: 1.2rem;

	background: none;
	border: solid 1px #fff;
	color: #fff;
}
.modal-contact-element::placeholder {
	color: #fff;
}
.textarea-element {
	height: 80px;
}
.button-element {
	padding: 0;

	cursor: pointer;
	transition: all 300ms ease-in;
}
.button-element:hover {
	background: #87c5fb;
	transition: all 300ms ease-in;
}
#closeModalButton {
	width: 40%;
}


/* Main Page Section Styles */


#pre_home {
	background: url(../media/landing-bg.jpg);
	background-size: 100% 100vh;
}
.first-tittle {
	font-size: 6rem;
}
.second-tittle {}
.last-tittle {
	font-size: 3.3rem;
}
.home-section-button {
	margin-top: 2%;
}
.home-section-button button {
	width: 50%;
    height: 7vh;
    
    font-family: roboto-light;
    font-size: 1.3rem;
    cursor: pointer;

    color: #fff;
    border: solid 2px #fff;
    background: none;
    background: #000000ad;
    transition: all 200ms ease-in;
}
.home-section-button button:hover {
	color: #87c5fb;
    transition: all 200ms ease-in;
}
.landing-contact-icons {
	margin-top: 4%;
}
.landing-contact-icons .fa {
	margin-right: 2%;
	margin-left: 2%;

	font-size: 3rem;

	color: #fff;
	transition: all 200ms ease-in;
}
.landing-contact-icons .fa:hover {
    color: #87c5fb;
	transition: all 200ms ease-in;
}
.landing-background {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: inline-block;
	z-index: -1;
}
#pre_services {
	background: linear-gradient(#252525, #000000);
}
.service-global-container {
	margin-bottom: 4%;
}
.section-tittle-container {
	font-size: 2.8rem;
}
.section-tittle {}
.service-section-content {
	margin-top: 4%;
}
.service-global-container {
	display: inline-block;
	width: 350px;

	text-align: center;
}
.service-container {
	display: inline-block;
	height: 25vh;
	width: 100%;
	overflow: hidden;

	border: solid 2px #fff;
}
.selected-service {
	border-color: #00a1ff;
}
.service-container-tittle {
	margin-bottom: 5%;

	font-size: 1.1rem;
}
.service-tittle {
	margin-top: 4%;
}
.service-container-img-container {}
.service-container-img {
	width: 100%;
	height: 25vh;

	transition: all 300ms ease-in;
	transform: scale(1);

	cursor: pointer;
}
.service-container-img:hover {
	transition: all 300ms ease-in;
	transform: scale(1.25);
}
.centered {
	margin-left: 10%;
	margin-right: 10%;
}
.service-container-space {
	margin-right: 5%;
	margin-left: 5%;
}
#pre_us {
	background: url(../media/us-bg.jpg);
	background-size: 100% 100vh;
}
.us-section-content-align {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.justify {
	height: fit-content;
}
.us-section-content {
	width: 70%;
	margin: auto;
	margin-top: 4%;

	text-align: justify;
}
.us-section-p {
	font-size: 2.2rem;
}
#pre_mision {
	background: url(../media/mision.jpg);
	background-size: 100% 100vh;
}
#pre_vision {
	background: url(../media/vision.jpg);
	background-size: 100% 100vh;
}


/* Footer Styles */


.main-footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	height: fit-content;

	background: #131313;
}
.main-footer-logo-tittle-container {
	margin-top: 2%;
	margin-bottom: 1%;
}
.social-networks-container {
	margin-top: 1%;
	margin-bottom: 4%;
}
.social-networks-container .fa {
	margin-left: .5%;
	margin-right: .5%;

	font-size: 2.5rem;

	color: #fff;
	transition: all 300ms ease-in;
}
.social-networks-container .fa:hover {
	color: #87c5fb;
	transition: all 300ms ease-in;
}
.footer-copyright-container {
	position: absolute;
	width: 100%;
	height: 4vh;
	bottom: 0;
	padding: .5%;
	box-sizing: border-box;

	background: #000;
}


/* Return Top Button */


a.fa.scroll-up {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    bottom: 50px;
    right: 50px;
    box-sizing: border-box;
    z-index: 100;
    
    font-size: 24px !important;
    line-height: 37px !important;
    text-align: center;
    text-decoration: none;

    opacity: 0.85;
    border-radius: 5px;
    color: #000;
    background: #fff;
    transition: all 200ms ease-in;
}
a.fa.scroll-up:hover {
	background: #87c5fb;
    transition: all 200ms ease-in;
}